version: '3.9'

services:

  auth-service:
    image: enterpriseops-auth:1.1
    container_name: auth-service
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8081 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s

  order-service:
    image: enterpriseops-order:1.4
    container_name: order-service
    ports:
      - "8081:8081"
    environment:
      - AUTH_SERVICE_URL=http://auth-service:8080
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8081 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s

  frontend:
   image: enterpriseops-frontend:1.0
   container_name: frontend
   ports:
     - "4200:80"
   depends_on:
     auth-service:
       condition: service_healthy
     order-service:
       condition: service_healthy