version: '3.9'

services:

  auth-service:
    image: enterpriseops-auth:1.0
    container_name: auth-service
    ports:
      - "8080:8080"

  order-service:
    image: enterpriseops-order:1.3
    container_name: order-service
    ports:
      - "8081:8081"
    environment:
      - AUTH_SERVICE_URL=http://auth-service:8080

  frontend:
    image: enterpriseops-frontend:1.0
    container_name: frontend
    ports:
      - "4200:80"
    depends_on:
      - auth-service
      - order-service
